# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS specific files
.DS_Store

# Local config files
.config/venv_build/
*.dmg
